.perfil{
    height: 400px;
    float: left;
}
header{
    display: block;
    background-color:rgba(220, 220, 220, 0.815);
    padding: 5px;
    margin: 10px;
}
header img{
    text-align: left;
}
header nav {
    text-align: right;
    display:inline-block;
    width:60%;
}
header ul{
    display: inline-block;
    list-style-type: none;
    margin: 10px;
    text-align: center;
}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    border: solid;
    border-color:rgba(220, 220, 220, 0.589);
    border-radius: 50px;
    background-color:rgba(220, 220, 220, 0.158);
    color:black;
    padding: 3px;
}
header ul li a:hover{
    background-color: #B8B799;
    border-color: #B8B799;
}
header ul li a:active{
    padding: 2px;
}